input 
{
    margin: 1rem 41%;
    padding: 0.5rem 2.5rem;
    background-color: rgb(203, 235, 223);
    color: black;
}

button {
    background-color:  #2C7A7B ;
    margin: 2px 46%;
    padding: 0.5rem 2rem;
    font-weight: bolder;
}


button:hover {
    background-color: #225E5F;
}